li{
    display: inline-block;
    margin-right: 20px;
    font-size: 25px;
    border: solid 3px rgb(199, 80, 40);
    border-radius: 15px;
    margin-top: 120px;
    margin-left: 50px;
}
a{ 
    color: rgb(187, 104, 76); 
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
}
a:hover{color: darkblue;}
h1{text-align: center;font-family: arial,serif; color: rgb(219, 113, 13); font-size: 50px;}
body{
    background-image: url(V0.jpg);
    background-size: cover;
    background-position: center;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
.W{
    margin: 0px;
    margin-bottom: 60px;
    background-image:url(V00.jpg);
    background-size: cover;
    height: 300px;
    background-position: center;
}
.AR{height: 450px}
.AR p{
    float: right;            
    bottom: 270px;
    word-wrap: break-word;
    width: 40%;
    position: relative;
    margin-right: 20px;
    font-size: 20px;
    
}
.AR img{
    height: 300px;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 20px;
}
.BR{
    padding-bottom:0px;
    height: 300px;
}
.BR p{
    height: 300px;
    margin-left: 20px;
    word-wrap: break-word;
    width: 40%;
    font-size: 20px;
}
.BR img{             
    float: right;
    border-radius: 15px;
    height: 300px;
    position: relative; 
    bottom: 400px;
    margin-right: 20px;

}
#video{
    color:rgb(248, 227, 199);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
}
.acceuil{
    color:rgb(197, 124, 100);
    font-family: sans-serif;
    text-decoration: none; 
    font-family: Arial, Helvetica, sans-serif;
    border-radius:  20px;
    font-size: 25px;
    border: solid  rgb(145, 92, 75)  3px;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 500px;
    margin-right: 500px;
    background-color: rgba(0, 0, 0, 0.3);
}
#retour{
    color:rgb(197, 124, 100);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
}